
<div id="navbar"><h1>SHARMA GROCERIES</h1></div>
<div *ngIf="message">{{message}}</div>
<div class="center">
<h1>{{"Buy fruits and vegetables here"|uppercase}}</h1>
<div [style.backgroundImage]="'url('+bannerUrl+')'" class="banner"></div>
<button (click)="toggleFruits()">Browse Fruits Section</button><br/><br/><br/><br/>
<!-- //to take input from child component use (onBuy)="buyVegAppComponent($event)"-->
<app-vegetables #vg="vegetablesList" (onBuy)="buyVegAppComponent($event)"></app-vegetables>
<br/>
if we use *ngIf exportAs stops working #f='fruitList' doesnt work here but works similar with vegetables when *ngIf is not used<br />
<div *ngIf='showFruits'>
  <!-- This doesnt work  if we do <app-fruits #f='fruitList'></app-fruits> inside a div that has *ngIf -->
  <!-- //to give input to child component use [cFruit]="fruitName"-->
  <!-- //to take input from child component use (onBuy)="buyFruitAppComponent($event)-->
  <app-fruits [cFruit]="fruitName" (onBuy)="buyFruitAppComponent($event)"></app-fruits>
</div>

Calls vegetablesList components addCucumber() method which keeps stocking cucumbers as a new item<br />
<button (click)='vg.addCucumber()'>Add Cucumbers to list of veggies</button>
</div>

